@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
/* * {
  border: 1px solid red;
} */
body {
  margin: 0;
  background-color: black;
  box-sizing: border-box;
  font-family: Fredoka One, sans-serif;
}

.nav-bar {
  padding: 5px 20px;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  transition: all 0.4s 0s;
  z-index: 100;
}

.nav-bar.active {
  background: white;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 30%), 0 0 0 0 transparent;
}
.nav-list {
  box-sizing: border-box;
}
.circle-img {
  border-radius: 50%;
  border: 3px solid black;
  width: 50px;
  height: 50px;
}

.photo-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  position: relative;
  height: 100vh;
  background: url(./images/img-home.jpg);
  
}
.header:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, transparent 30%, black 100%);
}

.my-name {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  
}

.my-name h1 {
  font-size: 2rem;
  font-weight: 800;
  font-family: Fredoka One, sans-serif;
}

.typed-text {
  font-size: 2.125rem;
}

p {
  font-family: Roboto;
  font-size: 18px;
  line-height: 30px;
  color: white;
}

.bars {
  margin: 0 0 0 auto;
  cursor: pointer;
  font-size: 20px;
}

.nav-list,
.display-nav-list {
  z-index: 1;
  width: 100%;
  text-align: center;
  max-height: 1000px;
  opacity: 1;
  transition: all 0.5s ease-out;
}

.display-nav-list {
  opacity: 0;
  transition: all 0.5s ease-out;
  max-height: 0;
}

.nav-list ul,
.display-nav-list ul {
  margin: auto;
  padding: 0;
  list-style: none;
  background: black;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.nav-list ul li,
.display-nav-list ul li {
  padding: 10px 0;
  color: white;
  cursor: pointer;
}
.nav-list ul li:hover {
  color: red;
  transition: all 0.5s ease-out;
}
.container {
  width: 100%;
  max-width: 1000px;
  margin: 50px auto 70px;
  border: 1px solid red;
  border-radius: 10px;
  box-sizing: border-box;
}
.about-container{
  width: 100%;
  max-width: 1000px;
  margin: 50px auto 70px;
  color: white;
  padding: 10px;
  box-sizing: border-box;
}
.about-container h5 {
  font-weight: 400;
  line-height: 1.6em;
  font-size: 16px;
  
}
.header-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header-text {
  padding: 20;
  font-size: 1.8rem;
  font-weight: 500;
  color: white;
}

.eachSkill {
  display: grid;
  grid-gap: 10px 10px;
  gap: 10px 10px;
  padding: 10px;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  box-sizing: border-box;
  width: 100%;
  max-width: 800px;
  margin: auto;
  text-align: center;
}

.skill img {
  width: 60px;
  height: 60px;
}

.skill-name h3 {
  color: white;
  font-weight: 400;
  font-size: 15px;
  font-family: Roboto;
}
.works {
  margin: 20px auto;
}

.projects {
  padding: 20px;
  position: relative;
}
.each-project {
  position: relative;
  width: 90%;
  max-width: 500px;
  margin: 20px auto;
  background-color: #181717;
  box-sizing: border-box;
  border-radius: 10px;
}

.each-project:hover {
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 30%), 0 0 0 0 transparent;
}

.project-img {
  width: 100%;
}

.project-img img {
  width: 100%;
}

.project-name {
  color: red;
  font-size: 20px;
}

.project-description {
  padding: 20px;
}

.contact {
  background-color: white;
}

.button {
  background-color: white;
  width: 100px;
  padding: 10px;
  border-radius: 5px;
}
.button:hover {
  background-color: red;
  transition: all 0.5s ease-out;
}

.grid-container {
  box-shadow: inset -6px -6px 9px #fff, inset 6px 6px 9px rgb(0 0 0 / 40%);
  display: grid;
  grid-gap: 10px 10px;
  gap: 10px 10px;
  padding: 10px;
  grid-template-columns: auto;
  grid-template-rows: auto;
  box-sizing: border-box;
}

.icons {
  display: flex;
  justify-content: space-around;
}

a:active, a:hover, a:link, a:visited {
  text-decoration: none;
  color: #444;
}

.handle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: -6px -6px 9px #fff, 6px 6px 9px rgb(0 0 0 / 40%);
  border-radius: 30px;
  padding: 40px 15px;
  box-sizing: border-box;
}

.handle:hover {
  box-shadow: -2px -2px 4px #fff, 2px 2px 4px rgb(0 0 0 / 40%);
}

.handle-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 425px) {
  .grid-container {
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
  }
}

@media screen and (min-width: 768px) {
  .nav-bar {
    padding: 10px 70px;
  }
  .my-name h1 {
    font-size: 3.125rem;
  }
  .header-text {
    font-size: 2.2rem;
  }
  .skill {
    width: 80px;
    margin: 30px 60px 50px;
    text-align: center;
  }

  .skill img {
    width: 80px;
    height: 80px;
  }

  .skill-name h3 {
    color: white;
    font-weight: 400;
    font-size: 18px;
  }

  .projects {
    display: flex;
    flex-wrap: wrap;
  }

  .each-project {
    position: relative;
    width: 300px;
  }

  .grid-container {
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
  }
}

@media screen and (min-width: 998px) {
  .nav-bar {
    padding: 10px 200px;
  }

  .bars {
    display: none;
  }

  .nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-list {
    position: relative;
  }

  .nav-list ul {
    display: flex;
    margin: 0 0 0 auto;
    background: transparent;
  }

  .nav-list ul li {
    padding: 0 20px;
    color: black;
  }

  .header {
    color: white;
  }

  .each-project {
    position: relative;
    width: 400px;
  }
}
